/* addresult.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: #f5f5dc; /* Light olive green background */
}

.header {
    background-color: #3b5998;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(249, 181, 170);
    text-decoration: none;
    font-size: 24px;
}

nav ul li a:hover {
    color: #fff;
}

.main-content {
    padding: 20px;
}

.footer {
    background-color: #3b5998;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
