* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(58, 126, 146, 0.427), rgba(97, 146, 163, 0.203)), url('e.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.input-group {
    margin-top: 20px;
}

.input-field {
    margin-bottom: 20px;
    position: relative;
}

i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translatex(-50);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    margin-top: 10px;
}

form p a {
    text-decoration: none;
    color: #3c00a0;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}
